.container{
  max-width: 615px;
  min-width: 300px;
}


.entry, ul.img-list, ul.team2{
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.entry, .entry2, ul.img-list li{
  display: inline-block;
  height: 600px;
  overflow: hidden;
  margin: 0 1em 1em 0;
  position: relative;
  width: 175px;
  background-color: white;
}

.entry2{
    height: 175px;
}

ul.team2 li{
  display: inline-block;
  height: 120px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

h2{
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}


img{
  margin-left: -30px;
  height: 300px;
}

p{
  font-size: 12px;
  line-height: 15px;
}


/* entire container, keeps perspective */
.flip-container {
  perspective: 200px;
  position: relative;
  width: 160px;

}


/*.flip-container, .front, .back {
	width: 150px;
	height: 200px;
}

.front{
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  position: absolute;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transition-delay: initial;
   backface-visibility: hidden;
   transform: rotateY(0deg);

}

.back{
  transform: rotateY(-180deg);
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  position: absolute;
 transition-property: all;
 transition-duration: .5s;
 transition-timing-function: ease-out;
 transition-delay: initial;
  transition: all 0.5s ease-out;
  backface-visibility: hidden;"
}*/
